body, html
{
    margin : 0px;
    float : left;
    width : 100%;
}

header
{
    background-color: blue;
    height : 50px;
    width : 100%;
    float : left;
}

.menu
{
    background-color: lightblue;
    height : 30px;
    width : 100%;
    float : left;
}

.sidebar
{
    width : 15%;
    float : left;
    height : 90vh;
    background-color: gray;
    color : white;
}

.sidebar li a
{
    color : white;
}

footer
{
    width : 100%;
    float : left;
    background-color: lightslategrey;
    color : white;
   
}

.footer-div
{
     padding : 15px;
}

.nav
{
    list-style: none;
}

.nav li a
{
    text-decoration: none;
    
}

.nav li
{
    padding-bottom: 10px;
}

.create-area
{
    float : right;
    width : 100%;
    min-height: 90vh;
}

.new-textarea
{
    //width : 100%;
    height : 70px;
    border : 1px solid lightgray;
    
    float : left;
}

 .select-box
 {
     
 }

.textarea-container
{
    padding : 15px;
    width : 100%;
    float: left;
}

.error
{
    background-color: lightcoral;
    color : white;
    padding : 5px;
}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.select-area-left
{
    float : left;
    width : 25%;
    background-color: lightgray;
    min-height : 200px;
    min-height: 90vh;
}

.select-container-right
{
    float : right;
    width : 75%;
    background-color: lightcyan;
    min-height : 200px;
    min-height: 90vh;
}

.text-area-c
{
    width : 92%;
    margin : 2%;
    border : 1px solid black;
    padding : 2%;
    border-radius: 5px;
    cursor: pointer;
}

.hcenter
{
    text-align: center;
}

.full-width
{
    width : 96%;
    margin : 5px 2%;
    height : 40px;
    float : left;
}

.col-xs-9
{
    width : 75%;
    float:left;
}

.col-xs-3
{
    width : 25%;
    float:left;
}

.col-xs-12
{
    width : 100%;
    float:left;
}

.top-margin
{
    margin-top :5px;
}